

.App {
  width: 500px;
  margin: 20px auto;
  padding: 20px;
  background-color: aliceblue;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  font-family: 'Quattrocento Sans', sans-serif;
}

nav {
  font-size: x-large;
  text-align: center;
}

.bookmarklink {
  font-size: 25px;
}

a {
  padding: 5px;
}

.edit {
  padding: 5px;
}

form {
  padding-bottom: 40px;
  text-align: center;
}

input {
  padding: 5px;
  margin: 2px;
}

.listbody{
  padding: 10px;
  margin: 5px;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}